<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            Highly motivated, techsavy professional with over 3.7 years of experience in IT industry.
            And have expertise in building Desktop and Mobile Application.
          
        </p>
        <p>
		   I am passionate about learning new things, solving real customer problems with business justification. 
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Have worked Onsite for Japanese client.
    			</li>
            
          <li>
            Appritiated from the Client for Project Execution.
			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
