<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Deep learning</b>. It's an exciting time for machine learning. I'm planning to learn the machine learning and would love to work in machine learning.
			  </li>
			  <li>
				  <b>Writing poems</b>. I've been an enthusiastic poet. I love to write.
				  One of my poem is registered under "Limca Book of Record".
				  Blog : dhanashripitre.blogspot.com
			  </li>
			  <li>
				  <b>Singing</b> Besides writing I love to sing. I don't have any degree for this but I love to write and compose songs. I have uploded one of song on youtube also.
				  Link : https://youtu.be/ikx4jCbir0M
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Mask Image Viewer is a desktop application in which user selects the folder path and all details related to a particular images gets displayed.
		  User can edit the mask image, view the image, delete the mask image.
    		</li>
  			<li>
          Mask Image Editor is a desktop application by which user can create a mask image. User can also modify the existing mask image. He can magnify the image.
		  He can also undo the changes.
  			</li>
  		    </ul>
      </div>
    </div>
  </div>
</section>
