<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
 
		
			  <li>
				  <b>Writing poems</b>. I am passionate about writing poems and singing. 
                                                        One of my poem is appreciated and got published in "Limca Book of Records".
				                        <br>Blog : dhanashripitre.blogspot.com
                                                        <br>Link : https://youtu.be/ikx4jCbir0M
			  </li>
			  
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Mask Image Viewer is a desktop application in which user selects the folder path and all details related to a particular image gets displayed.
		  User can edit the mask image, view the image, delete the mask image.
    		</li>
  			<li>
          Mask Image Editor is a desktop application by which user can create a mask image. User can modify the existing mask image, magnify the image and
		  also undo the changes.
  			</li>
  		    </ul>
      </div>
    </div>
  </div>
</section>
